.attribute {
  display: flex;
  margin-bottom: 8px;
  flex-direction: column;
  @media #{$screen-sm-viewport} {
    flex-direction: row;
  }
  &--no-break {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__cell {
    vertical-align: top;
    &--label {
      flex-shrink: 0;
      font-family: 'Spectral SC', serif;
      font-weight: 600;
      font-style: normal;
      @media #{$screen-sm-viewport} {
        width: 200px;
      }
      .attribute--no-break & {
        padding-right: 10px;
      }
    }
    &--value {
      flex-grow: 1;
    }

    p {
      margin-top: 0;
      margin-bottom: 5px;
    }
    ol {
      padding: 0;
      list-style: none;
      flex-wrap: wrap;
      justify-content: space-between;
      @media #{$screen-md-viewport} {
        display: flex;
      }
    }
    li {
      margin-bottom: 10px;
      flex-shrink: 0;
      @media #{$screen-md-viewport} {
        width: 49%;
      }
    }
  }
}
