/*--------   ACCESSIBILITY  --------*/

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

[aria-hidden="true"] {
  display: none;
}

/* Microsoft Edge Browser 13+ - @supports method */
@supports (-ms-accelerator:true) and (color:unset) {
  input:focus, select:focus {
    outline: 1px dotted black;
  }
}
